[submodule "submodules/school-demographics"]
	path = submodules/school-demographics
	url = https://github.com/virginiaequitycenter/school-demographics
[submodule "submodules/orange-dot"]
	path = submodules/orange-dot
	url = https://github.com/virginiaequitycenter/orange-dot
[submodule "submodules/Cville-Heat"]
	path = submodules/Cville-Heat
	url = https://github.com/virginiaequitycenter/Cville-Heat
[submodule "submodules/albequity_profile"]
	path = submodules/albequity_profile
	url = https://github.com/virginiaequitycenter/albequity_profile
[submodule "submodules/stepping-stones"]
	path = submodules/stepping-stones
	url = https://github.com/virginiaequitycenter/stepping-stones
