[submodule "submodules/school-demographics"]
	path = submodules/school-demographics
	url = https://github.com/virginiaequitycenter/school-demographics
[submodule "submodules/orange-dot"]
	path = submodules/orange-dot
	url = https://github.com/virginiaequitycenter/orange-dot
